<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFViPyf6Dl8_cdovt-wM_c8c3vOTZ0D90</string>
	<key>GCM_SENDER_ID</key>
	<string>276067846352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creath.ligaapp.ligaIndependenteFrontend</string>
	<key>PROJECT_ID</key>
	<string>liga-independente-app</string>
	<key>STORAGE_BUCKET</key>
	<string>liga-independente-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276067846352:ios:80fbc3dff5d4a2bca2f6d5</string>
</dict>
</plist>